@media only screen and (min-width:769px)
{
    h1:hover{
        color: var( --secondarycolor);
    }

   li:hover{
        color: var( --secondarycolor);
    }
    ul{
        float: right;
    }    

    menu img{
        display: none;
    }
    
    #product{
        width: 33.3%;
        float: left;
    
    }

    #product:first-child{
        width: 100%;
        grid-template-areas: "itemsImage itemsImage itemsImage itemsImage itemsImage itemsImage"
                             "itemName   itemName    itemName price price price"
                             "brandname  brandname brandname brandname brandname brandname";

                            }
/*  .box{
     border: 3px solid red;
 } */

 .footer, .footerBox{
     display: none;
 }
 
}