@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root{
    --primarycolor: #323A45;
    --secondarycolor: #848484;
    font-family: Karla;
}

body{
    margin: 0;
    padding: 1em;
    height: 100vh;
}
.nav-tbl-desktop ul li{
    display: inline-flex;
    list-style-type: none;
    padding: .8em;
}

img{
    width: 100%;
    background-position: center;
    background-size: cover;
}

h1{
    text-transform: uppercase;
}
menu img{
    width: 20px;
    position: absolute;
    right: 1.5em;
    top: 2.5em;

}

#product{
    display: grid;
    box-sizing: border-box;
    gap: .3em 0;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr auto .1fr;
    grid-template-areas: "itemsImage itemsImage"
                         "itemName   price"
                         "brandname  brandname";

}
.itemsImage{
    grid-area: itemsImage;
}

.itemName{
    grid-area: itemName;
    color: var(--primarycolor); 
}    

.price{
    grid-area: price;  
    display: flex;
    justify-content: flex-end;
    color: var(--primarycolor);
}

.brandname{
    grid-area: brandname;
    color: var(--secondarycolor);
}
.box{
    font-size: smaller;
    margin: 0 0.5em;
} 
p{
    margin: 0.1em;
}


.footer{
    margin: 3em 0;
}

.footerBox{
    padding: .5em;
}
.footerBox p{
    font-size: smaller;
}
.copyright{
    font-size: smaller;
    color: var(--secondarycolor);
    text-align: center;
}


/* Mobile Version_______________________________________*/


@media only screen and (max-width:768px)

{
    .nav-tbl-desktop{
        display: none;
    }

    .nav-mobile{
        display: flex;
        padding: 1em;
    }

    h1{
        font-size: smaller;
    }
}




