@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root{
    --primarycolor: #323A45;
    --secondarycolor: #848484;
    font-family: Karla;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Mobile Version_____________*/


@media only screen and (max-width:320px)
{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1em;
    }
    h1{
        text-transform: uppercase;
        font-size: smaller;
    }

    menu img{
        width: 20px;
        position: absolute;
        top: 1.5em;
        right: 1em;
    }

    #product{
        height: 100vh;
        border: 3px solid red;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 20px;
        grid-template-rows: 2fr 50px 50px;
        grid-area: "itemsImage itemsImage"
                   "itemName   price"
                   "brandname  brandname";

    }
    .box{
        border: 3px solid blue;
    }
    .itemsImage{
        grid-area: "introImage";
        background-color: blue;
    }

    .itemName{
        grid-area: "itemName" ;
        background-color: pink;
    }    

    .price{
        grid-area: "price";
    }

    .brandname{
        grid-area: "brandname";
    }

}

