@media only screen and (min-width:769px)
{
    h1{
        padding-left: .5em;
    }
    h1:hover{
        color: var( --secondarycolor);
    }

   li:hover{
        color: var( --secondarycolor);
    }

    ul{
        float: right;
    }   
    
    a {
        color: initial;
        text-decoration: none; 
    }

    menu img{
        display: none;
    }
    
    #product{
        width: 33.3%;
        float: left;
    }

    #product:first-child{
         width: 99.9%; 
 }

 .footer{
     padding-top: 5em;
     width: 100%;
     display: grid;
     grid-template-columns: repeat(4,25%);
     grid-template-rows: 1fr;
    }
    .footerBox{
        text-align: center;
    }
 .itemsImage:hover {
     opacity: 50%;
     cursor: url(../icons/icons8-pixel-herz-50.png),auto;
 }

}